{{template "header.html"}}

<div class="text-center mt-5">
    <h1>Update User</h1>
    <p>This privilage only for admin</p>
    <form method="post" action="/admin/update-user" class="w-25 m-auto pt-4">
        <div class="mb-3 d-none">
          <input name="id" value="{{ .id }}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input name="name" value="{{ .name }}" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text text-danger">{{ .error }}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="email" value="{{ .email }}" type="email" class="form-control" id="exampleInputPassword1">
          <div id="emailHelp" class="form-text text-danger">{{ .error }}</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input name="pass" placeholder="Enter New Pass" type="password" class="form-control" id="exampleInputPassword1">
          <div id="emailHelp" class="form-text text-danger">{{ .error }}</div>
        </div>
        <button type="submit" class="btn btn-success mt-3 w-25">Submit</button>
    </form>
      
</div>

{{template "footer.html"}}